﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: lightcyan;
    height: 100%;
    width: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.container {
    width: 100vw;
    height: 100vh;
}

.title {
    display: table;
    margin-left: 50%;
    margin-top: 15%;
    transform: translate(-50%);
    height: 5%;
    text-align: center;
}

#input-prompt {
    text-align: center;
}

#input-box {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.vert-align {
    top: 50%;
    transform:translate(0,-50%);
}

.horiz-align{
    left: 50%;
    transform: translate(-50%);
}

.mid-align {
    margin: auto;
    margin-bottom: 10px;
}

#input-field {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
}

.my-btn {
    background-color: lightgray;
    color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
}

.my-btn:hover {
    border-color: black;
    color: #0059b9;
    text-decoration: underline;
}