﻿@page "/GenerationFailure"
@inject IJSRuntime JSRuntime
@inject HttpClient Http 
@using System.Text;

<div class="container">
    <h1 class="title">Something went wrong</h1>

    <div id="input-box" class="horiz-align">
        <a href="/" class="mid-align my-btn">Return</a>
        <br />
        <h3 class="mid-align">Error output</h3>
        @foreach (var element in Errors)
        {
            <p class="mid-align">@element</p>
	    }
    </div>
</div>

@code {
    string[] Errors = new string[0];

    private async Task GetErrors()
    {
        byte[] bytes = await Http.GetByteArrayAsync("../resources/errors.txt");
        string str = Encoding.UTF8.GetString(bytes, 0, bytes.Length);
        Errors = str.Split(new[] { Environment.NewLine }, StringSplitOptions.None);
    }

    protected override async Task OnInitializedAsync()
    {
        await GetErrors();
    }
}